@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

//fonts

$font-primary:'Raleway' ;
$font-secondary:'Playfair Display' ;

//colors
$color-primary: #CFA99B;
$color-secondary: #E8DFD4;
$color-black: #0B0704;
$color-gray: #BAAC9E;
$color-brown: #644a3f;
$color-lightbrown: #937060;
$color-green: #7c8b5d;