@use '../../styles/variables' as *;
$blue-two: rgb(40, 135, 199);

.housewife {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: #e66465;
  color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);

  h3 {
    font-size: 32px;
    margin: 0;
  }
  
  p {
    font-size: 12px;
    font-weight: lighter;
  }
  .btn {
    background: $blue-two;
    border: 1px solid darken($blue-two, 5%);
    padding: .5em 2em;
    color: white;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
    &:hover {
      background: lighten($blue-two, 5%);
    }
    &:active {
      background: $blue-two; 
      box-shadow: inset 0px 1px 1px fadeout(black, 90%); 
    }
    &:focus {
      outline: none;
    }

  }
}